/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Passions+Conflict&family=Poppins&family=Roboto&family=Roboto+Mono&family=Titillium+Web&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
}

.card-img-top{
    width: 200px;
    height: 250px;
    transition: 0.5s;
}

.card-img-top:hover{
    transform: scale(1.25);
    transition: 0.5s;
}

.navbar{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}

.p1{
    margin-top: 100px;
}

.p2{
    margin-top: 150px;
    margin-bottom: 100px;
}

.p3{
    margin-top: 150px;
}

.p4{
    margin-top: 100px;
}